
body {
    font: 20px, Arial, Serif;
}
.navbar {
    background-color: #298A0B;
}

.quem-somos {
    background-color: #ACFFF5;
    color: white;
}

.margin {
    padding-top: 10px;
    padding-bottom: 50px;
}

.parceiros {
    background-color: #145245;
}